fastapi
uvicorn
python-multipart
torch
transformers
docling
docling-parse
langchain
langchain-community
langchain-huggingface
chromadb
pypdf
--no-cache-dir llama-cpp-python==0.2.77 --extra-index-url https://abetlen.github.io/llama-cpp-python/whl/cu121 
sentence-transformers
accelerate